# Capital Asset Pricing Model (CAPM)

It establishes a relationship between systematic risk and expected return 
there are several assumptions behind the CAPM formula that have been shown not to hold in reality

## Risk free return = 10 year treasury bond

In [3]:
import numpy as np 
import pandas as pd 
import pandas_datareader as pdr
import datetime as dt

In [4]:
tickers = ['AAPL','MSFT','IBM','^GSPC']
start = dt.datetime(2016,12,1)
end = dt.datetime(2022,1,1)

data = pdr.get_data_yahoo(tickers, start,end,interval ="m")

In [5]:
data.head()

Attributes  Adj Close                                          Close  \
Symbols          AAPL       MSFT         IBM        ^GSPC       AAPL
Date
2016-12-01  27.220137  57.657200  123.425331  2238.830078  28.955000
2017-01-01  28.519802  59.986118  129.768036  2278.870117  30.337500
2017-02-01  32.195526  59.364460  133.708954  2363.639893  34.247501
2017-03-01  33.909512  61.479301  130.556778  2362.719971  35.915001
2017-04-01  33.907135  63.906364  120.173119  2384.199951  35.912498

Attributes                                           High             ...  \
Symbols          MSFT         IBM        ^GSPC       AAPL       MSFT  ...
Date                                                                  ...
2016-12-01  62.139999  158.690247  2238.830078  29.504999  64.099998  ...
2017-01-01  64.650002  166.845123  2278.870117  30.610001  65.910004  ...
2017-02-01  63.980000  171.912048  2363.639893  34.369999  65.239998  ...
2017-03-01  65.860001  166.481842  2362.719971  36.125000  66.190002  ...
2017-04-01  68.459999  153.240921  2384.199951  36.365002  69.139999  ...

Attributes         Low                    Open                         \
Symbols            IBM        ^GSPC       AAPL       MSFT         IBM
Date
2016-12-01  151.338425  2187.439941  27.592501  60.110001  154.827911
2017-01-01  158.068832  2245.129883  28.950001  62.790001  159.655838
2017-02-01  165.286804  2271.649902  31.757500  64.360001  167.304016
2017-03-01  164.521988  2322.250000  34.472500  64.129997  172.543015
2017-04-01  152.581268  2328.949951  35.927502  65.809998  166.175903

Attributes                     Volume
Symbols           ^GSPC          AAPL         MSFT          IBM         ^GSPC
Date
2016-12-01  2200.169922  2.435087e+09  513579700.0   72666039.0  7.525124e+10
2017-01-01  2251.570068  2.252488e+09  493453500.0   92847665.0  7.048318e+10
2017-02-01  2285.590088  2.299874e+09  440744000.0   62572348.0  6.916242e+10
2017-03-01  2380.129883  2.246514e+09  489169700.0   83132942.0  8.154777e+10
2017-04-01  2362.340088  1.493216e+09  433191200.0  104654705.0  6.526567e+10

[5 rows x 24 columns]

In [5]:
data.tail()

Attributes   Adj Close                                            Close  \
Symbols           AAPL        MSFT         IBM        ^GSPC        AAPL
Date
2021-09-01  141.113998  280.824524  129.511200  4307.540039  141.500000
2021-10-01  149.391357  330.331360  116.618813  4605.379883  149.800003
2021-11-01  164.849091  329.305359  114.182579  4567.000000  165.300003
2021-12-01  177.344055  335.626038  132.069168  4766.180176  177.570007
2022-01-01  174.557602  310.338318  131.980240  4515.549805  174.779999

Attributes                                             High              ...  \
Symbols           MSFT         IBM        ^GSPC        AAPL        MSFT  ...
Date                                                                     ...
2021-09-01  281.920013  132.820267  4307.540039  157.259995  305.320007  ...
2021-10-01  331.619995  119.598473  4605.379883  153.169998  332.000000  ...
2021-11-01  330.589996  117.099998  4567.000000  165.699997  349.670013  ...
2021-12-01  336.320007  133.660004  4766.180176  182.130005  344.299988  ...
2022-01-01  310.980011  133.570007  4515.549805  182.940002  338.000000  ...

Attributes         Low                     Open                          \
Symbols            IBM        ^GSPC        AAPL        MSFT         IBM
Date
2021-09-01  126.940727  4305.910156  152.830002  302.869995  133.824097
2021-10-01  119.139580  4278.939941  141.899994  282.119995  134.799240
2021-11-01  114.559998  4560.000000  148.990005  331.359985  119.550667
2021-12-01  116.559998  4495.120117  167.479996  335.130005  118.250000
2022-01-01  124.190002  4222.620117  177.830002  335.350006  134.070007

Attributes                     Volume
Symbols           ^GSPC          AAPL         MSFT          IBM         ^GSPC
Date
2021-09-01  4528.799805  1.797466e+09  502886900.0   80160627.0  6.626885e+10
2021-10-01  4317.160156  1.564867e+09  516479200.0  150725359.0  6.187470e+10
2021-11-01  4610.620117  1.690808e+09  509870100.0  120097299.0  6.752080e+10
2021-12-01  4602.819824  2.444507e+09  625633000.0  113966400.0  6.869983e+10
2022-01-01  4778.140137  2.108231e+09  947462500.0  146973500.0  7.327944e+10

[5 rows x 24 columns]

In [6]:
data = data["Adj Close"]

In [7]:
log_returns = np.log(data/data.shift())

In [8]:
log_returns.head()

Symbols         AAPL      MSFT       IBM     ^GSPC
Date
2016-12-01       NaN       NaN       NaN       NaN
2017-01-01  0.046642  0.039598  0.050112  0.017726
2017-02-01  0.121229 -0.010417  0.029917  0.036523
2017-03-01  0.051868  0.035005 -0.023857 -0.000389
2017-04-01 -0.000070  0.038718 -0.082875  0.009050

In [13]:
cov = log_returns.cov()
var = log_returns['^GSPC'].var()

In [10]:
cov

Symbols      AAPL      MSFT       IBM     ^GSPC
Symbols
AAPL     0.006885  0.002618  0.001903  0.002352
MSFT     0.002618  0.002700  0.001385  0.001747
IBM      0.001903  0.001385  0.005435  0.002185
^GSPC    0.002352  0.001747  0.002185  0.002026

In [14]:
var

0.0020261419171389073

In [23]:
beta = cov.loc['AAPL','^GSPC']/var

In [24]:
risk_free_return = 0.0138
market_return = .105
expected_return =  risk_free_return + beta*(market_return-risk_free_return)

In [25]:
expected_return

0.11967227025999946

In [29]:
beta = cov.loc['^GSPC']/var

In [30]:
market_return = risk_free_return + beta*(market_return-risk_free_return)

In [31]:
expected_return

0.11967227025999946

In [32]:
market_return

Symbols
AAPL     0.136705
MSFT     0.081605
IBM      0.119881
^GSPC    0.105000
Name: ^GSPC, dtype: float64